ion-content {
  --background: var(--ion-color-theme-primary)
    url("../../assets/img/bg/landingPage.png") no-repeat center center / cover;

  form {
    height: 100%;
  }
  .width100 {
    width: 100%;
  }
  .gridWrap {
    height: 100%;
    display: flex;
    flex-direction: column;

    .eachRow:nth-child(1) {
      flex: 4;
      // padding-top: 31%;

      .loginInputWrap,
      ion-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ion-row {
          width: 100%;
        }

        ion-label {
          font-size: 14px;
          color: var(--theme-font-color-in-bg);
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        .border {
          border-bottom: 1px solid var(--theme-font-color-in-bg);
        }
        ion-item {
          --background: transparent;
          // width: 100%;
          --border-color: rgba(0, 2505, 0, 0.98);
          --highlight-color-focused: transparent;
          text-align: center;

          ion-input {
            text-align: center;
            color: var(--theme-font-color-in-bg);
          }

          ion-img {
            width: 60px;
            height: 60px;
            margin: 10% auto;
          }
        }
      }
    }
    .eachRow:nth-child(2) {
      flex: 1;

      .bottomLabelWrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
      }

      ion-label {
        color: var(--theme-font-color-in-bg);
        font-size: 14px;
        padding: 10px;
        display: block;
      }
    }
  }
}
