<div class="matchDetailsTop" (click)="toggleMapView()">
  <div class="competionItemWrap">
    <div class="listHeadWrap">
      <div class="listHead1">{{events.categoryName}}</div>
      <div class="listHead2">{{clientName + " " + divisionName}}</div>
      <div *ngIf="events.eventByCatData[0].isMapArrow || events.eventByCatData[0].showScoreButton"  class="listArrowWrap">
        <ion-icon mode="ios" [ngClass]="showMap ? 'highlighted' : ''" name="arrow-down"></ion-icon>
      </div>
    </div>
    <div class="listImgWrap">
      <div class="eachImg" *ngFor="let item of events.eventByCatData">
        <ion-img [src]="imgBaseUrl + item.homeLogoPath"></ion-img>
      </div>
    </div>
    <div class="itemWrap" *ngIf="showMap">
      <div class="listDummyWrap"></div>
      <div class="listContentWrap">

        <div class="live-stream-wrap" *ngIf="isStreamUrlEnabled" (click)="openLiveStreamURL()">
          <ion-img src="assets/svg/live-fixture.svg"></ion-img>
          <ion-text>LIVESTREAM</ion-text>
        </div>
        <ion-text *ngIf="events.eventByCatData[0].event_notes" class="venueAddress boldEvent">{{ events.eventByCatData[0].event_notes }}</ion-text>
        <ion-text *ngIf="showMap && events.eventByCatData[0].ground_name" class="venueAddress">{{ events.eventByCatData[0].ground_name }}</ion-text>
        <ion-text *ngIf="showMap && events.eventByCatData[0].field_name" class="venueAddress">{{ events.eventByCatData[0].field_name }}</ion-text>
        <ion-text *ngIf="showMap" class="venueAddress">{{ events.eventByCatData[0].event_address }}</ion-text>
      </div>
    </div>
  </div>
</div>
<div class="matchDetailsBottom">
  <div *ngIf="showMap">
    <div style="height: 200px;display: flex;justify-content: center;align-items: center;background: #00000036;"
      *ngIf="isLoading && showMap && events.eventByCatData[0].event_address.length != 0">
      <ion-spinner *ngIf="events.eventByCatData[0].event_address.length != 0; else noAddress" name="crescent"></ion-spinner>
      <ng-template #noAddress>
        No Location Found.
      </ng-template>
    </div>
    <div class="mapViewWrap" #mapView>
      <div class="googleMapWrap" *ngIf="!isLoading && showMap && events.eventByCatData[0].event_address.length != 0"
        (click)="launchGoogleMap()">
        <agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom" [disableDefaultUI]="true" [zoomControl]="false"
          (mapClick)="mapClicked($event)">
          <agm-marker [latitude]="lat" [longitude]="long">
            <agm-snazzy-info-window #snazzyInfoWindow [closeWhenOthersOpen]="true" [closeOnMapClick]="true"
              [latitude]="lat" [longitude]="long">
              <ng-template>
                <div class="location">
                  {{ events.eventByCatData[0].event_address }}
                </div>
              </ng-template>
            </agm-snazzy-info-window>
          </agm-marker>
        </agm-map>
      </div>

      <ion-row *ngIf="events.eventByCatData[0].showScoreButton" class="scoreBtnWrap">
        <ion-col size="6" *ngIf="surveyExists">
          <ion-button mode="ios" type="button" class="appThemeBtn" fill="outline" (click)="openScoreModal(2)"
            [disabled]="!enableRiskAssesment">
            RISK ASSESSMENT
          </ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="events.eventByCatData[0].injuryReport===0">
          <ion-button mode="ios" type="button" class="appThemeBtn" fill="outline" (click)="openScoreModal(3)">
            INJURY REPORT
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button mode="ios" type="button" class="appThemeBtn" fill="outline" (click)="openScoreModal(1)">
            SCORES
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>