ion-content {
  --background: #fdde01 url("../../assets/img/bg/landingPage.png") no-repeat
    center center / cover;

  form {
    height: 100%;
  }
  .width100 {
    width: 100%;
  }
  .gridWrap {
    height: 100%;
    display: flex;
    flex-direction: column;

    .eachRow:nth-child(1) {
      flex: 4;
      // padding-top: 31%;

      .loginInputWrap,
      ion-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ion-row {
          width: 100%;
        }

        ion-label {
          font-size: 14px;
          color: var(--theme-font-color-in-bg);
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        .border {
          border-bottom: 1px solid rgba(225, 225, 225, 0.98);
        }
        ion-item {
          --background: transparent;
          // width: 100%;
          --border-color: rgba(255, 255, 255, 0.98);
          --highlight-color-focused: transparent;
          text-align: center;

          ion-input {
            text-align: center;
            color: var(--theme-font-color-in-bg);
          }

          ion-img {
            width: 60px;
            height: 60px;
            margin: 10% auto;
          }
        }
      }
    }
    .eachRow:nth-child(2) {
      flex: 1;
      .bottomLabelWrap {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
      }
      ion-label {
        // color: rgba(225, 225, 225, 0.91);
        color: var(--theme-font-color-in-bg);
        opacity: 90%;
        font-size: 12px;
        padding: 10px;
        display: block;
        flex: 1;
      }
    }
  }
}
