<ion-list-header slot="primary" *ngIf="showSportLabel" mode="md">
  <div class="listSubHeadWrap">
    <div *ngIf="resulList.clientName != 'Rowing'">
      <ion-label class="listSubHead" slot="start">{{ resulList.sportName }}</ion-label>
    </div>
    <div *ngIf="resulList.clientName == 'Rowing'">
      <ion-label class="listSubHead" slot="start">{{ resulList.sportName }}  - {{resulList.eventName}}</ion-label>
    </div>
    <!-- <div>
    </div> -->
  </div>
</ion-list-header>

<ng-container *ngFor="let eventsData of resulList.eventGroup">
  <ng-container *ngIf="eventsData?.eventDisplayType == 'Tile'; then Tile else thenBlock">
  </ng-container>

  <ng-template #thenBlock> 
    <ng-container *ngIf="eventsData?.eventDisplayType == 'Normal'; then Normal else Old">
    </ng-container>
  </ng-template> 

  <ng-template #Tile >
    <ng-container *ngFor="let events of eventsData.eventDivisionData">
      <div *ngIf="events && events.eventByCatData && events.eventByCatData.length">
        <ion-item [ngClass]="eventsData.isLiveScoring == 1 ? 'liveScore' : '' ">
          <ng-container>
            <div class="competionItemWrap" >
              <div class="listHeadWrap">
                <div class="listHead1">{{events.categoryName}}</div>
                <div class="listHead2">{{eventsData.clientName + " " + eventsData.divisionName}}</div>
              </div>
              <div class="listImgWrap">
                <div class="eachImg" *ngFor="let item of events.eventByCatData">
                  <ion-img [src]="imgBaseUrl + item.homeClubLogo"></ion-img>
                  <ion-text>{{item.homeScore}}</ion-text>
                </div>
              </div>
            </div>
          </ng-container>
        </ion-item>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #Normal >
    <div *ngIf="resulList.clientName != 'Rowing'">
      <ion-item [ngClass]="eventsData.eventData.isLiveScoring == 1 ? 'liveScore' : '' ">
      
        <div class="mainContentWrap">
      
          <div>
      
            <img *ngIf="eventsData.eventData.isLiveScoring == 1" src="../../../assets/live-blinking.gif">
          </div>
      
          <div>
            <!-- Head sec -->
            <div *ngIf="eventsData.eventData.gameRound" class="gameRoundWrap">
              <ion-label class="gameRound">{{eventsData.eventData.gameRound}}</ion-label>
            </div>
      
            <div class="headWrap">
              <div class="resultHeadSec">
      
                <div class="divisionNameWrap">
                  <ion-text>
                    <span class="divisionHighlighted">
                      {{ eventsData.eventData.homeDivisionName }}
                    </span> <span *ngIf="showTimeStarted">- {{eventsData.eventData.timeStarted}}</span>
                  </ion-text>
                </div>
              </div>
              <div class="scoreSecHead">
      
                <ion-text class="flexDiv"
                  *ngIf="eventsData.eventData.tier2HomeScore.toString().trim().length || eventsData.eventData.tier2AwayScore.toString().trim().length">
                  <!-- set1 -->
                  <ng-container *ngIf="eventsData.eventData.homeAwayT2ScoreLabel.toString().length; else set1">
                    {{ eventsData.eventData.homeAwayT2ScoreLabel }}
      
                  </ng-container>
                  <ng-template #set1>
                    Set1
                  </ng-template>
                </ion-text>
      
                <ion-text class="flexDiv"
                  *ngIf="eventsData.eventData.tier3HomeScore.toString().trim().length || eventsData.eventData.tier3AwayScore.toString().trim().length">
                  <!-- set2 -->
                  <!-- {{ eventsData.eventData.homeAwayT3ScoreLabel }} -->
                  <ng-container *ngIf="eventsData.eventData.homeAwayT3ScoreLabel.toString().length; else set2">
                    {{ eventsData.eventData.homeAwayT3ScoreLabel }}
      
                  </ng-container>
                  <ng-template #set2>
                    Set2
                  </ng-template>
                </ion-text>
      
                <ion-text class="flexDiv"
                  *ngIf="eventsData.eventData.tier4HomeScore.toString().trim().length || eventsData.eventData.tier4AwayScore.toString().trim().length">
                  <!-- {{ eventsData.eventData.homeAwayT4ScoreLabel }} -->
                  <ng-container *ngIf="eventsData.eventData.homeAwayT4ScoreLabel.toString().length; else set3">
                    {{ eventsData.eventData.homeAwayT4ScoreLabel }}
      
                  </ng-container>
                  <ng-template #set3>
                    Set3
                  </ng-template>
                </ion-text>
      
                <ion-text
                  *ngIf="eventsData.eventData.homeScore.toString().trim().length || eventsData.eventData.awayScore.toString().trim().length">
                  <!-- {{ eventsData.eventData.homeAwayScoreLabel }} -->
                  <ng-container *ngIf="eventsData.eventData.homeAwayScoreLabel.toString().length; else pts">
                    {{ eventsData.eventData.homeAwayScoreLabel }}
      
                  </ng-container>
                  <ng-template #pts>
                    Pt
                  </ng-template>
                </ion-text>
      
                <div class="iconWrap" *ngIf="showLabel && showAcceptProtestSign">
      
                </div>
              </div>
      
            </div>
      
            <!--Home team-->
            <div>
              <div class="wrap">
                <div class="logoSec">
                  <div class="logoWrap">
                    <ion-img [src]="imgBaseUrl + eventsData.eventData.homeClubLogo"></ion-img>
                  </div>
                  <div class="nameWrap">
                    <ion-row>
                      <ion-text>{{eventsData.eventData.homeTeamName}}</ion-text>
                      <ion-text style="color: red;font-style: italic;padding-left: 5px; padding-right: 5px;"
                        *ngIf="eventsData.eventData.isforfeitHome == 1">Forfeit</ion-text>
                      <ion-text style="color: red;font-style: italic;padding-left: 5px; padding-right: 5px;"
                        *ngIf="eventsData.eventData.isWashOut == 1">Washout</ion-text>
                    </ion-row>
                  </div>
                </div>
                <div class="scoreSec">
        
                  <!-- <ng-container *ngIf="eventsData.eventData.sportFlag == 20 else tireScore">
                    <ion-text *ngIf="eventsData.eventData.homeScore.toString().trim().length"
                      [ngClass]="eventsData.eventData.homeScore < eventsData.eventData.awayScore ? 'loss': ''">
                      {{eventsData.eventData.homeScore}}
                    </ion-text>
        
                    <ion-text *ngIf="eventsData.eventData.tier2HomeScore.toString().trim().length"
                      [ngClass]="eventsData.eventData.tier2HomeScore < eventsData.eventData.tier2AwayScore ? 'loss': ''">
                      {{eventsData.eventData.tier2HomeScore}}
                    </ion-text>
        
                  </ng-container> -->
        
                  <!-- <ng-template #tireScore> -->
                  <ion-text class="flexDiv"
                    *ngIf="eventsData.eventData.tier2HomeScore.toString().trim().length || eventsData.eventData.tier2AwayScore.toString().trim().length"
                    [ngClass]="eventsData.eventData.tier2HomeScore < eventsData.eventData.tier2AwayScore ? 'loss': ''">
                      <ng-container *ngIf="eventsData.eventData.isWashOut == 1; else set1Home">
                        -
                      </ng-container>
                      <ng-template #set1Home>
                        {{eventsData.eventData.tier2HomeScore}}
                      </ng-template>
                  </ion-text>
        
                  <ion-text class="flexDiv"
                    *ngIf="eventsData.eventData.tier3HomeScore.toString().trim().length || eventsData.eventData.tier3AwayScore.toString().trim().length"
                    [ngClass]="eventsData.eventData.tier3HomeScore < eventsData.eventData.tier3AwayScore ? 'loss': ''">
                      <ng-container *ngIf="eventsData.eventData.isWashOut == 1; else set2Home">
                        -
                      </ng-container>
                      <ng-template #set2Home>
                        {{eventsData.eventData.tier3HomeScore}}
                      </ng-template>
                  </ion-text>
        
                  <ion-text class="flexDiv"
                    *ngIf="eventsData.eventData.tier4HomeScore.toString().trim().length || eventsData.eventData.tier4AwayScore.toString().trim().length"
                    [ngClass]="eventsData.eventData.tier4HomeScore < eventsData.eventData.tier4AwayScore ? 'loss': ''">
                      <ng-container *ngIf="eventsData.eventData.isWashOut == 1; else set3Home">
                        -
                      </ng-container>
                      <ng-template #set3Home>
                        {{eventsData.eventData.tier4HomeScore}}
                      </ng-template>
                  </ion-text>
        
                  <!-- <div *ngIf="eventsData.eventData.tier2HomeScore.toString().trim().length" class="resultBorder resultBorderTop"></div> -->
        
                  <ion-text
                    *ngIf="eventsData.eventData.homeScore.toString().trim().length || eventsData.eventData.awayScore.toString().trim().length"
                    [ngClass]="eventsData.eventData.homeScore < eventsData.eventData.awayScore ? 'loss': ''">
                      <ng-container *ngIf="eventsData.eventData.isWashOut == 1; else ptsHome">
                        -
                      </ng-container>
                      <ng-template #ptsHome>
                        {{eventsData.eventData.homeScore}}
                      </ng-template>
                  </ion-text>
                  <!-- </ng-template> -->
        
                  <div class="iconWrap" *ngIf="showLabel && showAcceptProtestSign">
                    <ion-img *ngIf="eventsData.eventData.acceptProtestStatus === 0 && isLogedIn" src="/assets/svg/tick_icon.svg"></ion-img>
        
                    <ion-img *ngIf=" eventsData.eventData.acceptProtestStatus === 1 && isLogedIn" src="/assets/svg/danger.svg">
                    </ion-img>
                  </div>
                </div>
        
                <!-- <div class="labelSec" *ngIf="showLabel"> -->
                <!-- <ion-badge *ngIf="eventsData.eventData.seeAllFlag" mode="ios" color="warning">
                    {{ eventsData.eventData.homeDivisionName }}
                  </ion-badge> -->
                <!-- 
                  <span *ngIf="eventsData.eventData.seeAllFlag" style="background: #cd051c;padding: 3px;border-radius: 51px;font-size: 8px;color: #fff;font-weight: bold;">{{ eventsData.eventData.homeDivisionName }}</span>
        
                  <ion-text *ngIf="eventsData.eventData.seeAllFlag == 0" class="seeAllLabel">
                    {{ eventsData.eventData.homeDivisionName }} </ion-text>
                </div> -->
              </div>
      
              <div *ngIf="eventsData.eventData.home_best_player" class="bestScorer">
                <ion-label>Best Scorer: {{eventsData.eventData.home_best_player}}</ion-label>
              </div>
            </div>
      
            <!--Away team name-->
            <div>
              <div class="wrap">
                <div class="logoSec">
                  <div class="logoWrap">
                    <ion-img [src]="imgBaseUrl + eventsData.eventData.awayClubLogo"></ion-img>
                  </div>
                  <div class="nameWrap">
                    <ion-row>
                      <ion-text>{{eventsData.eventData.awayTeamName}}</ion-text>
                      <ion-text style="color: red;font-style: italic;padding-left: 5px; padding-right: 5px;"
                        *ngIf="eventsData.eventData.isforfeitAway == 1">Forfeit</ion-text>
                    </ion-row>
                  </div>
                </div>
                <div class="scoreSec">
        
                  <!-- <ng-container *ngIf="eventsData.eventData.sportFlag == 20 else tireScoreAway">
                    <ion-text [ngClass]="eventsData.eventData.homeScore > eventsData.eventData.awayScore ? 'loss': ''">
                      {{eventsData.eventData.awayScore }}
                    </ion-text>
        
                    <ion-text *ngIf="eventsData.eventData.tier2AwayScore.toString().trim().length"
                      [ngClass]="eventsData.eventData.tier2HomeScore > eventsData.eventData.tier2AwayScore ? 'loss': ''">
                      {{eventsData.eventData.tier2AwayScore}}
                    </ion-text>
        
                  </ng-container> -->
        
                  <!-- <ng-template #tireScoreAway> -->
                  <ion-text class="flexDiv"
                    *ngIf="eventsData.eventData.tier2HomeScore.toString().trim().length || eventsData.eventData.tier2AwayScore.toString().trim().length"
                    [ngClass]="eventsData.eventData.tier2HomeScore > eventsData.eventData.tier2AwayScore ? 'loss': ''">
                      <ng-container *ngIf="eventsData.eventData.isWashOut == 1; else set1Away">
                        -
                      </ng-container>
                      <ng-template #set1Away>
                        {{eventsData.eventData.tier2AwayScore}}
                      </ng-template>
                  </ion-text>
        
                  <ion-text class="flexDiv"
                    *ngIf="eventsData.eventData.tier3HomeScore.toString().trim().length || eventsData.eventData.tier3AwayScore.toString().trim().length"
                    [ngClass]="eventsData.eventData.tier3HomeScore > eventsData.eventData.tier3AwayScore ? 'loss': ''">
                      <ng-container *ngIf="eventsData.eventData.isWashOut == 1; else set2Away">
                        -
                      </ng-container>
                      <ng-template #set2Away>
                        {{eventsData.eventData.tier3AwayScore}}
                      </ng-template>
                  </ion-text>
        
                  <ion-text class="flexDiv"
                    *ngIf="eventsData.eventData.tier4HomeScore.toString().trim().length || eventsData.eventData.tier4AwayScore.toString().trim().length"
                    [ngClass]="eventsData.eventData.tier4HomeScore > eventsData.eventData.tier4AwayScore ? 'loss': ''">
                      <ng-container *ngIf="eventsData.eventData.isWashOut == 1; else set3Away">
                        -
                      </ng-container>
                      <ng-template #set3Away>
                        {{eventsData.eventData.tier4AwayScore}}
                      </ng-template>
                  </ion-text>
        
                  <!-- <div *ngIf="eventsData.eventData.tier2AwayScore.toString().trim().length > 0" class="resultBorder resultBorderBottom">
                    </div> -->
        
                  <ion-text
                    *ngIf="eventsData.eventData.homeScore.toString().trim().length || eventsData.eventData.awayScore.toString().trim().length"
                    [ngClass]="eventsData.eventData.homeScore > eventsData.eventData.awayScore ? 'loss': ''">
                      <ng-container *ngIf="eventsData.eventData.isWashOut == 1; else ptsAway">
                        -
                      </ng-container>
                      <ng-template #ptsAway>
                        {{eventsData.eventData.awayScore}}
                      </ng-template>
                  </ion-text>
                  <!-- </ng-template> -->
        
                  <div class="iconWrap" *ngIf="showLabel && showAcceptProtestSign">
                  </div>
                </div>
                <!-- <div class="labelSec" *ngIf="showLabel">
        
                  <ion-text *ngIf="eventsData.eventData.seeAllFlag" class="seeAllLabel" style="padding: 1px 0px;"
                    [routerLink]="['/', 'home', 'tabs', 'results', eventsData.eventData.awayDivisionID ]">
                    See All</ion-text>
                  <ion-text *ngIf="eventsData.eventData.seeAllFlag == 0" class="seeAllLabel">
                    {{ eventsData.eventData.awayDivisionName | slice:0:6 }} </ion-text>
                </div> -->
              </div>
      
              <div *ngIf="eventsData.eventData.away_best_player" class="bestScorer">
                <ion-label>Best Scorer: {{eventsData.eventData.away_best_player}}</ion-label>
              </div>
            </div>
      
            <div class="live-stream-wrap" *ngIf="eventsData.eventData.isLiveScoring"
              (click)="openLiveStreamURL(eventsData.eventData.liveStreaming_url)">
              <ion-img src='assets/svg/live.svg'></ion-img>
              <ion-text>LIVESTREAM</ion-text>
            </div>
      
            <div class="bottomBtnWrap" *ngIf=" eventsData.eventData.showAcceptRejectButton === 1">
              <div class="btnProtest">
                <ion-button slot="primary" type="button" class="appThemeBtn" fill="outline"
                  (click)="protest(eventsData.eventData.eventId)" mode="ios">
                  PROTEST
                </ion-button>
              </div>
              <div class="btnAccept">
                <ion-button slot="primary" type="button" class="appThemeBtn appThemeSolidBtn" fill="solid"
                  (click)="accept(eventsData.eventData.eventId)" mode="ios">
                  ACCEPT
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
  </ng-template>

  <ng-template #Old >
    <div *ngIf="resulList.clientName == 'Rowing'">
      <ion-item *ngFor="let divList of resulList.divisions">
        <div class="mainContentWrap">
          <div>
            <div class="headWrap">
              <div class="resultHeadSec">
                <div class="divisionNameWrap">
                  <ion-text>
                    <span class="divisionHighlighted">
                      {{ divList.homeDivisionName }}
                    </span>
                    <!-- </span> <span *ngIf="showTimeStarted">- {{resultList.timeStarted}}</span> -->
                  </ion-text>
                </div>
              </div>
              <div class="scoreSecHead">
                <ion-text class="flexDiv">
                  {{ divList.homeAwayScoreLabel }}
                </ion-text>
              </div>
            </div>
          </div>
          <div *ngFor="let resultList of resulList.eventGroup">
            <div *ngIf="divList.homeDivisionName == resultList.homeDivisionName">
              <div>
                <div class="wrap">
                  <div class="logoSec">
                    <div class="logoWrap">
                      <ion-img [src]="imgBaseUrl + resultList.homeClubLogo"></ion-img>
                    </div>
                    <div class="nameWrap">
                      <ion-row>
                        <ion-text>{{resultList.homeTeamName}}</ion-text>
                      </ion-row>
                    </div>
                  </div>
                  <div class="scoreSec">
                    <ion-text class="flexDiv">
                      {{resultList.homeScore}}
                    </ion-text>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
    
    <div *ngIf="resulList.clientName != 'Rowing'">
    <ion-item *ngFor="let resultList of resulList.eventGroup" [ngClass]="resultList.isLiveScoring == 1 ? 'liveScore' : '' ">
    
      <div class="mainContentWrap">
    
        <div>
    
          <img *ngIf="resultList.isLiveScoring == 1" src="../../../assets/live-blinking.gif">
        </div>
    
        <div>
          <!-- Head sec -->
          <div *ngIf="resultList.gameRound" class="gameRoundWrap">
            <ion-label class="gameRound">{{resultList.gameRound}}</ion-label>
          </div>
    
          <div class="headWrap">
            <div class="resultHeadSec">
    
              <div class="divisionNameWrap">
                <ion-text>
                  <span class="divisionHighlighted">
                    {{ resultList.homeDivisionName }}
                  </span> <span *ngIf="showTimeStarted">- {{resultList.timeStarted}}</span>
                </ion-text>
              </div>
            </div>
            <div class="scoreSecHead">
    
              <ion-text class="flexDiv"
                *ngIf="resultList.tier2HomeScore.toString().trim().length || resultList.tier2AwayScore.toString().trim().length">
                <!-- set1 -->
                <ng-container *ngIf="resultList.homeAwayT2ScoreLabel.toString().length; else set1">
                  {{ resultList.homeAwayT2ScoreLabel }}
    
                </ng-container>
                <ng-template #set1>
                  Set1
                </ng-template>
              </ion-text>
    
              <ion-text class="flexDiv"
                *ngIf="resultList.tier3HomeScore.toString().trim().length || resultList.tier3AwayScore.toString().trim().length">
                <!-- set2 -->
                <!-- {{ resultList.homeAwayT3ScoreLabel }} -->
                <ng-container *ngIf="resultList.homeAwayT3ScoreLabel.toString().length; else set2">
                  {{ resultList.homeAwayT3ScoreLabel }}
    
                </ng-container>
                <ng-template #set2>
                  Set2
                </ng-template>
              </ion-text>
    
              <ion-text class="flexDiv"
                *ngIf="resultList.tier4HomeScore.toString().trim().length || resultList.tier4AwayScore.toString().trim().length">
                <!-- {{ resultList.homeAwayT4ScoreLabel }} -->
                <ng-container *ngIf="resultList.homeAwayT4ScoreLabel.toString().length; else set3">
                  {{ resultList.homeAwayT4ScoreLabel }}
    
                </ng-container>
                <ng-template #set3>
                  Set3
                </ng-template>
              </ion-text>
    
              <ion-text
                *ngIf="resultList.homeScore.toString().trim().length || resultList.awayScore.toString().trim().length">
                <!-- {{ resultList.homeAwayScoreLabel }} -->
                <ng-container *ngIf="resultList.homeAwayScoreLabel.toString().length; else pts">
                  {{ resultList.homeAwayScoreLabel }}
    
                </ng-container>
                <ng-template #pts>
                  Pt
                </ng-template>
              </ion-text>
    
              <div class="iconWrap" *ngIf="showLabel && showAcceptProtestSign">
    
              </div>
            </div>
    
          </div>
    
          <!--Home team-->
          <div>
            <div class="wrap">
              <div class="logoSec">
                <div class="logoWrap">
                  <ion-img [src]="imgBaseUrl + resultList.homeClubLogo"></ion-img>
                </div>
                <div class="nameWrap">
                  <ion-row>
                    <ion-text>{{resultList.homeTeamName}}</ion-text>
                    <ion-text style="color: red;font-style: italic;padding-left: 5px; padding-right: 5px;"
                      *ngIf="resultList.isforfeitHome == 1">Forfeit</ion-text>
                    <ion-text style="color: red;font-style: italic;padding-left: 5px; padding-right: 5px;"
                      *ngIf="resultList.isWashOut == 1">Washout</ion-text>
                  </ion-row>
                </div>
              </div>
              <div class="scoreSec">
      
                <!-- <ng-container *ngIf="resultList.sportFlag == 20 else tireScore">
                  <ion-text *ngIf="resultList.homeScore.toString().trim().length"
                    [ngClass]="resultList.homeScore < resultList.awayScore ? 'loss': ''">
                    {{resultList.homeScore}}
                  </ion-text>
      
                  <ion-text *ngIf="resultList.tier2HomeScore.toString().trim().length"
                    [ngClass]="resultList.tier2HomeScore < resultList.tier2AwayScore ? 'loss': ''">
                    {{resultList.tier2HomeScore}}
                  </ion-text>
      
                </ng-container> -->
      
                <!-- <ng-template #tireScore> -->
                <ion-text class="flexDiv"
                  *ngIf="resultList.tier2HomeScore.toString().trim().length || resultList.tier2AwayScore.toString().trim().length"
                  [ngClass]="resultList.tier2HomeScore < resultList.tier2AwayScore ? 'loss': ''">
                    <ng-container *ngIf="resultList.isWashOut == 1; else set1Home">
                      -
                    </ng-container>
                    <ng-template #set1Home>
                      {{resultList.tier2HomeScore}}
                    </ng-template>
                </ion-text>
      
                <ion-text class="flexDiv"
                  *ngIf="resultList.tier3HomeScore.toString().trim().length || resultList.tier3AwayScore.toString().trim().length"
                  [ngClass]="resultList.tier3HomeScore < resultList.tier3AwayScore ? 'loss': ''">
                    <ng-container *ngIf="resultList.isWashOut == 1; else set2Home">
                      -
                    </ng-container>
                    <ng-template #set2Home>
                      {{resultList.tier3HomeScore}}
                    </ng-template>
                </ion-text>
      
                <ion-text class="flexDiv"
                  *ngIf="resultList.tier4HomeScore.toString().trim().length || resultList.tier4AwayScore.toString().trim().length"
                  [ngClass]="resultList.tier4HomeScore < resultList.tier4AwayScore ? 'loss': ''">
                    <ng-container *ngIf="resultList.isWashOut == 1; else set3Home">
                      -
                    </ng-container>
                    <ng-template #set3Home>
                      {{resultList.tier4HomeScore}}
                    </ng-template>
                </ion-text>
      
                <!-- <div *ngIf="resultList.tier2HomeScore.toString().trim().length" class="resultBorder resultBorderTop"></div> -->
      
                <ion-text
                  *ngIf="resultList.homeScore.toString().trim().length || resultList.awayScore.toString().trim().length"
                  [ngClass]="resultList.homeScore < resultList.awayScore ? 'loss': ''">
                    <ng-container *ngIf="resultList.isWashOut == 1; else ptsHome">
                      -
                    </ng-container>
                    <ng-template #ptsHome>
                      {{resultList.homeScore}}
                    </ng-template>
                </ion-text>
                <!-- </ng-template> -->
      
                <div class="iconWrap" *ngIf="showLabel && showAcceptProtestSign">
                  <ion-img *ngIf="resultList.acceptProtestStatus === 0 && isLogedIn" src="/assets/svg/tick_icon.svg"></ion-img>
      
                  <ion-img *ngIf=" resultList.acceptProtestStatus === 1 && isLogedIn" src="/assets/svg/danger.svg">
                  </ion-img>
                </div>
              </div>
      
              <!-- <div class="labelSec" *ngIf="showLabel"> -->
              <!-- <ion-badge *ngIf="resultList.seeAllFlag" mode="ios" color="warning">
                  {{ resultList.homeDivisionName }}
                </ion-badge> -->
              <!-- 
                <span *ngIf="resultList.seeAllFlag" style="background: #cd051c;padding: 3px;border-radius: 51px;font-size: 8px;color: #fff;font-weight: bold;">{{ resultList.homeDivisionName }}</span>
      
                <ion-text *ngIf="resultList.seeAllFlag == 0" class="seeAllLabel">
                  {{ resultList.homeDivisionName }} </ion-text>
              </div> -->
            </div>
    
            <div *ngIf="resultList.home_best_player" class="bestScorer">
              <ion-label>Best Scorer: {{resultList.home_best_player}}</ion-label>
            </div>
          </div>
    
          <!--Away team name-->
          <div>
            <div class="wrap">
              <div class="logoSec">
                <div class="logoWrap">
                  <ion-img [src]="imgBaseUrl + resultList.awayClubLogo"></ion-img>
                </div>
                <div class="nameWrap">
                  <ion-row>
                    <ion-text>{{resultList.awayTeamName}}</ion-text>
                    <ion-text style="color: red;font-style: italic;padding-left: 5px; padding-right: 5px;"
                      *ngIf="resultList.isforfeitAway == 1">Forfeit</ion-text>
                  </ion-row>
                </div>
              </div>
              <div class="scoreSec">
      
                <!-- <ng-container *ngIf="resultList.sportFlag == 20 else tireScoreAway">
                  <ion-text [ngClass]="resultList.homeScore > resultList.awayScore ? 'loss': ''">
                    {{resultList.awayScore }}
                  </ion-text>
      
                  <ion-text *ngIf="resultList.tier2AwayScore.toString().trim().length"
                    [ngClass]="resultList.tier2HomeScore > resultList.tier2AwayScore ? 'loss': ''">
                    {{resultList.tier2AwayScore}}
                  </ion-text>
      
                </ng-container> -->
      
                <!-- <ng-template #tireScoreAway> -->
                <ion-text class="flexDiv"
                  *ngIf="resultList.tier2HomeScore.toString().trim().length || resultList.tier2AwayScore.toString().trim().length"
                  [ngClass]="resultList.tier2HomeScore > resultList.tier2AwayScore ? 'loss': ''">
                    <ng-container *ngIf="resultList.isWashOut == 1; else set1Away">
                      -
                    </ng-container>
                    <ng-template #set1Away>
                      {{resultList.tier2AwayScore}}
                    </ng-template>
                </ion-text>
      
                <ion-text class="flexDiv"
                  *ngIf="resultList.tier3HomeScore.toString().trim().length || resultList.tier3AwayScore.toString().trim().length"
                  [ngClass]="resultList.tier3HomeScore > resultList.tier3AwayScore ? 'loss': ''">
                    <ng-container *ngIf="resultList.isWashOut == 1; else set2Away">
                      -
                    </ng-container>
                    <ng-template #set2Away>
                      {{resultList.tier3AwayScore}}
                    </ng-template>
                </ion-text>
      
                <ion-text class="flexDiv"
                  *ngIf="resultList.tier4HomeScore.toString().trim().length || resultList.tier4AwayScore.toString().trim().length"
                  [ngClass]="resultList.tier4HomeScore > resultList.tier4AwayScore ? 'loss': ''">
                    <ng-container *ngIf="resultList.isWashOut == 1; else set3Away">
                      -
                    </ng-container>
                    <ng-template #set3Away>
                      {{resultList.tier4AwayScore}}
                    </ng-template>
                </ion-text>
      
                <!-- <div *ngIf="resultList.tier2AwayScore.toString().trim().length > 0" class="resultBorder resultBorderBottom">
                  </div> -->
      
                <ion-text
                  *ngIf="resultList.homeScore.toString().trim().length || resultList.awayScore.toString().trim().length"
                  [ngClass]="resultList.homeScore > resultList.awayScore ? 'loss': ''">
                    <ng-container *ngIf="resultList.isWashOut == 1; else ptsAway">
                      -
                    </ng-container>
                    <ng-template #ptsAway>
                      {{resultList.awayScore}}
                    </ng-template>
                </ion-text>
                <!-- </ng-template> -->
      
                <div class="iconWrap" *ngIf="showLabel && showAcceptProtestSign">
                </div>
              </div>
              <!-- <div class="labelSec" *ngIf="showLabel">
      
                <ion-text *ngIf="resultList.seeAllFlag" class="seeAllLabel" style="padding: 1px 0px;"
                  [routerLink]="['/', 'home', 'tabs', 'results', resultList.awayDivisionID ]">
                  See All</ion-text>
                <ion-text *ngIf="resultList.seeAllFlag == 0" class="seeAllLabel">
                  {{ resultList.awayDivisionName | slice:0:6 }} </ion-text>
              </div> -->
            </div>
    
            <div *ngIf="resultList.away_best_player" class="bestScorer">
              <ion-label>Best Scorer: {{resultList.away_best_player}}</ion-label>
            </div>
          </div>
    
          <div class="live-stream-wrap" *ngIf="resultList.isLiveScoring"
            (click)="openLiveStreamURL(resultList.liveStreaming_url)">
            <ion-img src='assets/svg/live.svg'></ion-img>
            <ion-text>LIVESTREAM</ion-text>
          </div>
    
          <div class="bottomBtnWrap" *ngIf=" resultList.showAcceptRejectButton === 1">
            <div class="btnProtest">
              <ion-button slot="primary" type="button" class="appThemeBtn" fill="outline"
                (click)="protest(resultList.eventId)" mode="ios">
                PROTEST
              </ion-button>
            </div>
            <div class="btnAccept">
              <ion-button slot="primary" type="button" class="appThemeBtn appThemeSolidBtn" fill="solid"
                (click)="accept(resultList.eventId)" mode="ios">
                ACCEPT
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
    </div>
  </ng-template>
</ng-container>


<!-- <div *ngIf="resulList?.eventDisplayType == 'Tile'">
  <ion-item *ngFor="let eventsData of resulList.eventGroup" [ngClass]="eventsData.isLiveScoring == 1 ? 'liveScore' : '' ">
    <ng-container *ngFor="let events of eventsData.eventDivisionData">
      <div class="competionItemWrap" >
        <div class="listHeadWrap">
          <div class="listHead1">{{events.categoryName}}</div>
          <div class="listHead2">{{eventsData.clientName + " " + eventsData.divisionName}}</div>
        </div>
        <div class="listImgWrap">
          <div class="eachImg" *ngFor="let item of events.eventByCatData">
            <ion-img [src]="imgBaseUrl + item.homeClubLogo"></ion-img>
            <ion-text>{{item.homeScore}}</ion-text>
          </div>
        </div>
      </div>
    </ng-container>
  </ion-item>
</div> -->
