ion-content{
    --padding-top: env(safe-area-inset-top) !important;
    --background: var(--ion-color-theme-primary) url('../../assets/img/bg/landingPage.png') no-repeat center center / cover;
    color: var(--entry-font-color);
    ion-grid{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    ion-row{
        flex: 1;
    }

    .skipText{
        color: var(--entry-font-color);
        font-size: 14px;
        padding: 10px;
    }

    .pageContentsWrap{
        flex: 3;
        text-align: center;
        color: var(--entry-font-color);

        .textSection{
            padding-bottom: 10%;
        }

        p{
            font-size: 14px;
            line-height: 18px;
        }

        .imgWrap{
            width: 75px;
            height: 75px;
            max-width: 100px;
            margin: 0 auto;

            img{
                width: 100%;
                height: 100%;
            }
        }

    }
    .loginTextSec{
        text-align: center;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        color: var(--entry-font-color);

        ion-label{
            font-weight: 600;
            font-size: 14px;

        }
    }

    
}