// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #cd051c;
  --ion-color-danger-rgb: 205, 5, 28;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b40419;
  --ion-color-danger-tint: #d21e33;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-toolbar-text-color: #15233c;
  --ion-page-background: #eff1f5;

  /*--- theme color ---*/
  --ion-color-highlight-nav: #CD051C;
  --ion-color-highlight-selection: #CD051C;
  --ion-color-theme-primary: #CD051C;
  --theme-dark-color: #001c54;
  --theme-font-color-in-bg: #ffffff;
  --theme-text-bg: #CD051C;

  /*-- entry page --*/
  --entry-font-color: var(--theme-font-color-in-bg);

  /*-- bottom nav --*/
  --nav-selected: transparent;
  /* -- Menu section -- */
  --menu-item-active: var(--theme-text-bg);
  --menu-toggle-active: var(--menu-item-active);
  --btn-theme-color: var(--ion-color-theme-primary);

  /*--- Teams -> Favourite ---*/
  --fav-team-text-color: var(--theme-text-bg);

  /* --- Fixture page --- */
  --fixture-team-name: var(--ion-color-theme-primary);
  --fixture-round-name: var(--ion-color-theme-primary);
  --fixture-vs-text: #15233c;
  --fixture-list-arrow: #0a0a0a52;
  --fixture-list-arrow-highlighted: #000000;
  --fixture-invitation-name: var(--ion-color-primary);

  /* -- Result page --*/
  --badge-bg-color: var(--ion-color-highlight-selection);
  --seeAll-font-color: var(--ion-color-theme-primary);
  --solid-btn-font-color: #ffffff;
  --result-round-name: var(--ion-color-theme-primary);

  /*-- Ladder point table --*/
  --ion-ladder-point-game-name-color: var(--ion-color-theme-primary);
  --ion-ladder-point-pool-head-color: var(--ion-color-theme-primary);
  --ion-ladder-point-table-theme-color: var(--theme-dark-color);
  --ion-ladder-point-table-head-color: var(--theme-dark-color);
  --ion-ladder-bracket-border: var(---ion-color-theme-primary);
  --ladder-bracket-top-bg: var(--ion-color-primary-contrast);
}
