<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="end">
      <app-common-scoring></app-common-scoring>
      <app-competition-filter-icon></app-competition-filter-icon>
      <app-common-notification></app-common-notification>
    </ion-buttons>
    <ion-title mode="md" class="pageTitle">Ladder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="! isLoading">

    <!--favourate team tile section-->
    <div class="favouriteTileWrap" *ngIf="favouriteTeams.length != 0">
      <div class="favTeamWrapScroll">
        <div class="eachFavTeam" *ngFor="let fav of favouriteTeams">
          <ion-card [routerLink]="['/', 'home', 'tabs', 'lader', fav.divisionId, fav.clientId]">
            <ion-card-content>
              <ion-img [src]="imgBaseUrl + fav.logopath">

              </ion-img>
              <ion-item class="item" lines="none">
                <ion-label class="upperCase colorRed">{{fav.clientName}} </ion-label>

              </ion-item>
              <!-- <ion-item class="item" lines="none"> -->
                <ion-label class="upperCase ">{{fav.teamName}} {{fav.divisionName}}</ion-label>
              <!-- </ion-item> -->
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>

    <app-game-type *ngFor="let game of ladderGames" [game]="game"></app-game-type>
  </div>

  <div *ngIf="isLoading">
    <ion-card *ngFor="let i of [1,2,3,4,5,6,7,8]">
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>