.navButton{
    justify-content: flex-end;
    padding: 5px 10px 0px;
}
ion-content{
    --background: var(--ion-page-background);

    .item-inner{
        // padding: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    ion-list{
        background: var(--ion-page-background,var(--ion-page-background,#fff));
            
        
        
    }

}